<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roncoo.education.course.dao.impl.mapper.OfficeHourMapper">
    <resultMap id="BaseResultMap" type="com.roncoo.education.course.dao.impl.mapper.entity.OfficeHour">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="program_id" property="programId" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,url,program_id
    </sql>
    <select id="selectByProgramId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from office_hour
        where program_id = #{program_id,jdbcType=BIGINT}
    </select>


</mapper>
